<% c++ #include "contents/Pages.h" %>
<% skin %>
<% view homepage uses contents::pages::Homepage extends master %>
<% template title() %><% gt "New Website"  %><% end template %>

<% template main_content() %> 
    <% foreach post in posts %>
        <% item %>
        <% include begin_module() %>
            <h1><% include post_link(post.lang,post.slug,post.title) %></h1>
            <%= post.introduction | ext markdown %>
        <% include end_module() %>
        <% end %>
    <% end foreach %>
<% end template %>


<% template annexe_content() %> 
<% include begin_module() %>
<% include end_module() %>
<% end template %>



<% end view %>
<% end skin %>
