<% c++ #include "contents/Drafts.h" %>
<% skin %>
<% view drafts_edit uses tatoblog::contents::drafts::Edit extends post_edition %>
<% template title() %><% gt "Edit draft" %><% end template %>


<% template main_content() %> 
<div class="module">
    <h2><% gt "Edit draft" %></h2>
    <form method="POST" action="/drafts/edit_treat" >
        <% include inner_form(editForm) %>
    </form>
</div>
<% end template %>

<% template annexe_content() %> 
<% include begin_module() %>
    <h2><% gt "Menu" %></h2>
    <ul>
        <li>
            <a href='<%= post.show_url() %>'>
                <% gt "Go back to post" %>
            </a>
        </li>
        <li>
            <a href="/drafts/show-all"><% gt "All drafts" %></a>
        </li>
    </ul>
<% include end_module() %>
<% end template %>


<% end view %>
<% end skin %>
