<% c++ #include "contents/Drafts.h" %>
<% skin %>
<% view drafts_edit uses tatoblog::contents::drafts::Edit extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Drafts / Edit
<% end template %>



<% end view %>
<% end skin %>
