<% c++ #include "contents/Drafts.h" %>
<% skin %>
<% view drafts_show uses tatoblog::contents::drafts::Show extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Drafts / Show
<% end template %>



<% end view %>
<% end skin %>
