<% c++ #include "contents/Drafts.h" %>
<% skin %>
<% view drafts_show_all uses tatoblog::contents::drafts::ShowAll extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Drafts / ShowAll
<% end template %>



<% end view %>
<% end skin %>
