<% c++ #include "contents/Posts.h" %>
<% skin %>
<% view posts_edit uses tatoblog::contents::posts::Edit extends post_edition %>
<% template title() %><% gt "Edit post" %><% end template %>

<% template main_content() %> 
<div class="module">
    <h2><% gt "Create a new post" %></h2>
    <form method="POST" action="/posts/edit_treat" >
        <% include inner_form(editForm) %>
    </form>
</div>
<% end template %>

<% template annexe_content() %> 
<% include begin_module() %>
    <h2><% gt "Menu" %></h2>

    <ul>
        <li>
            <a href='<%= post.show_url() %>'>
                <% gt "Go back to post" %>
            </a>
        </li>
    </ul>
<% include end_module() %>
<% end template %>



<% end view %>
<% end skin %>
