<% c++ #include "contents/Posts.h" %>
<% skin %>
<% view posts_edit uses tatoblog::contents::posts::Edit extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Posts / Edit
<% end template %>



<% end view %>
<% end skin %>
