<% c++ #include "contents/Posts.h" %>
<% skin %>
<% view posts_show_all uses contents::posts::ShowAll extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template main_content() %> 
<% include begin_module() %>
    <% foreach post in posts %>
    <ul>
        <% item %>
        <li>    
            <% include post_link(post) %>
        </li>
        <% end %>
    </ul>
    <% end foreach %>
<% include end_module() %>
<% end template %>




<% end view %>
<% end skin %>
