<% c++ #include "contents/Posts.h" %>
<% skin %>
<% view posts_show uses contents::posts::Show extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template main_content() %> 
    Edit Me Posts / Show
<% end template %>



<% end view %>
<% end skin %>
