<% c++ #include "contents/Posts.h" %>
<% skin %>
<% view posts_show uses tatoblog::contents::posts::Show extends master %>
<% template title() %><%= post.title %><% end template %>


<% template main_content() %> 
<% cache cacheKey %>
<% include begin_module() %>
    <h1><%= post.title %></h1>
    <%= post.introduction | ext markdown %>
    <%= post.main | ext markdown %>
<% include end_module() %>
<%end cache %>
<% end template %>



<% end view %>
<% end skin %>
