<% c++ #include "contents/Posts.h" %>
<% skin %>
<% view posts_write_new uses tatoblog::contents::posts::WriteNew extends post_edition %>
<% template title() %><% gt "Write a new post" %><% end template %>


<% template main_content() %> 
<div class="module">
    <h2><% gt "Create a new post" %></h2>
    <form method="POST" action="/posts/write-new_treat" >
        <% include inner_form(writeNewForm) %>
    </form>
</div>
<% end template %>




<% end view %>
<% end skin %>

