<% c++ #ifndef LAYOUT_MASTER %>
<% c++ #define LAYOUT_MASTER %>
<% c++ #include <cppcms_skel/generics/Config.h> %>
<% c++ #include <cppcms_skel/contents/content.h> %>
<% skin %>
<% view master uses contents::BaseContent %>

<% template render() %>
<!DOCTYPE html>
<html lang="TODO">
    <head><%include head() %></head>
    <body><%include body() %></body>
</html>



<% end template %>


<% template about() %>
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header"><% gt "About" %></li>
        <li>
            <div style='overflow:auto'>
                <img alt="TODO" class="face" src="" title="TODO">
                <h4>TODO</h4>
                <p>TODO</p>
            </div>
        </li>
        <li class="nav-header"><% gt "Follow me" %></li>
        <li></li>
    </ul>
</div>
<% end template %>

<% template navigation_menu() %>
<ul class="nav">
    <li class="active">
        <a href="TODO">TODO</a>
    </li>
    <li>
        <a href="TODO">TODO</a>
    </li>
    <li>
        <a href="TODO">TODO</a>
    </li>
</ul>
<% end template %>


<% template navigation_bar() %>
<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="TODO">TODO</a>
        <div class="nav-collapse"><% include navigation_menu() %></div>
    </div>
</div>
<% end template %>

/**
 *
 */
<% template body() %>
    <div class="navbar navbar-fixed-top"><%include navigation_bar() %></div>
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <div class="well">
                    <div class="row">
                        <% include all_articles() %>          
                    </div>
                </div>
            </div>
            <div class="span4" id="about" >
                <%include about() %>
            </div>
        </div><!--/row-->
        <hr>
        <% include footer() %>
    </div><!--/.fluid-container-->
    <% include footer_js() %>
<% end template %>


<% template all_articles() %>
    <div class="span7"><%include article1() %></div>
    <div class="span7"><%include article1() %></div>
<% end template %>




<% template article1() %>
    <h2>TODO</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
    </p>
    <p>
        <img
            src='https://lh6.googleusercontent.com/-pd0-vixI3xU/T0pwC_1s2GI/AAAAAAAAFw8/x3fImwKS9Ag/s540/WallUpdate.png'
            class="row-fluid"
        >
    </p>
    <p>
        <a class="btn btn-info" href="TODO"><% gt "Read More »" %></a>
    </p>
<% end template %>


<% template title() %>TODO<% end template %>

<% template description() %>TODO<%end template%>

<% template author() %>TODO <% end template %>


<% template global_css() %>
    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
   .face 
   {
    float: left;
    border-right: solid 1px #DEDEDE;
    border-bottom: solid 1px #DEDEDE;
    width: 60px;
    height: 60px;
    padding: 4px;
    background-color: white;
    margin-right: 5px;
    }
    .span7 img
    {
        max-width:550px;
        border: 1px solid #CCC;
        padding: 9px;
        background: white;
    }
    
    </style>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
<% end template %>

<% template local_css() %><% end template %>


<% template head_global_js() %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<% end template %>


<% template head_local_js() %><% end template %>
/**
 *
 */
<% template head() %>
    <meta charset="utf-8">
    <title><% include title() %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<% include description() %>">
    <meta name="author" content="<% include author() %>">
    <% include global_css() %>
    <% include local_css() %>
    <% include head_global_js() %>
    <% include head_local_js() %>

<% end template %>

/**
 *
 */
<% template footer() %>
<footer><div class="container">
    <p>&copy; TODO</p>
</div></footer>
<% end template %>


/**
 * @brief Placed non-vital javascript at the end of the document
 *        so the pages load faster
 */
<% template footer_js() %>
<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
<% end template %>



<% end view %>
<% end skin %>
<% c++ #endif %>
