<% c++ #include "contents/Posts.h" %>
<% skin %>
<% view posts_write_new uses contents::posts::WriteNew extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Posts / WriteNew
    <form method="POST" action="<% url "/posts/write-new_treat" %>" >
        <% form as_p writeNewForm %>
    </form>
<% end template %>



<% end view %>
<% end skin %>

